@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Alumni+Sans:wght@500&family=Foldit:wght@300&family=Goldman&family=Gudea&family=Jura:wght@500&family=Orbitron&family=Play&display=swap');
* {
    box-sizing: border-box;
  }
body {
    background-color: white;
    margin: 0px;
    
}
.nav1 {
    
    font-size: 1rem;
    font-family: 'Jura', serif;
    
}
@media only screen and (max-width: 1200px) {
  .nav1 {
    
    font-size: 0.6rem;
    
}
}
.nav2 {
    
    font-size: 1rem;
    box-shadow:  1px 1px 2px rgb(29, 28, 27),
    1px 1px 2px rgb(0, 0, 0);
    font-family: 'Jura', serif;
    text-transform: uppercase;
    font-weight: bold;
    
}

@media only screen and (max-width: 1200px) {
  .nav2 {
    
    font-size: 0.8rem;
    
}
}
.nav2 {
    z-index: 1;
    }
.headTile {
    background: linear-gradient(#441544, #663366, #663366, #441544);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    
    animation: example 5s infinite;;
  
}
@keyframes example {
   
         0%  {background: linear-gradient(#441544, #663366, #663366, #441544);    
            -webkit-background-clip: text;    
             }
    25%  {background: linear-gradient(#ad0260, #ff029e, #ff029e, #ad0260);    
        -webkit-background-clip: text;      
         }
    50%  {background: linear-gradient(#6e0207, #ee0f0f, #ee0f0f, #6e0207);    
        -webkit-background-clip: text;    
         }
    100% {background: linear-gradient(#d37101, #ffcb1f, #ffcb1f, #d37101);    
        -webkit-background-clip: text;    
         }
  }
  
.n1 .container {
    border-radius:  2rem  ;
    /*background-image: linear-gradient(#006A48, #2FAC66, #2FAC66, #006A48);*/
    color: initial;
    
    
   
   /* box-shadow: 4px 4px 2px rgb(229,61,104);*/
  
}
.n2 .container-fluid {
 
    /*background-image: linear-gradient(#006A48, #2FAC66, #2FAC66, #006A48);*/
    color: initial;
    background-color: rgb(253, 55, 0);
    margin-left: 20rem;
    box-shadow:  4px 4px 8px rgb(156, 35, 1),
                 4px 4px 8px rgb(253, 55, 0);
   border-radius: 0 0 0 1.2vw;
   
   /* box-shadow: 4px 4px 2px rgb(229,61,104);*/
  
}

.n2 ul.navbar-nav .nav-item .nav-link {
	color: rgb(255, 255, 255);
  
    

}
.n1 ul.navbar-nav .nav-item .nav-link {
	color: rgb(255, 255, 255);
    

}

.active1, .n1 ul.navbar-nav .nav-item:hover {
	color: rgb(253, 55, 0);
	
   
  border-bottom:  2px solid rgb(253, 55, 0);
    
}



.btnColor{
    color: rgb(0, 0, 0);
    border:2px solid rgb(0, 0, 0);
    height: 2.4rem;
    width: 10rem;
    font-size: 1.2rem;
}


.n1 .navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    
  }
  .n2 .navbar-nav > li{
    padding-left:10px;
    padding-right: 10px;
    border-right: 1px solid white;
   
    
  }
  .carousel-item  .img-fluid {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .bgArt {
    background-image: url("img/realisations/ArtIsca1500x1000.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgArt1 {
    background-image: url("img/Projets/projet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgArt2 {
    background-image: url("img/Projets/projet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.presentation {
   
    height: auto;
    background-image:url("img/IMG\ IMM6.svg");
    background-repeat: no-repeat;
    border-right: 5px solid #F15F22;
    background-size: cover;
    
    /*box-shadow: 7px 7px 3px rgb(232, 61, 104);*/
}
.presentation1 {
   
    height: auto;
    background-image:url("img/IMG\ IMM7.svg");
    background-repeat: no-repeat;
    border-left: 5px solid #F15F22;
    background-size: cover;
    
    /*box-shadow: 7px 7px 3px rgb(232, 61, 104);*/
}

.bgColor1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: 7px 7px 3px rgb(232, 61, 104);
    

    */ 
    
}

.bgColor1 div .col-sm-6 h3  {
 font-size: 4rem;

}
.bgColor1 div .col-sm-6 h5 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  
 
 }
.bgColor3 {
  font-family: 'Goldman';
  font-weight: bold; background-image: url('img/Projets/plan.jpg'); 
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 1px 5px 0 rgb(248, 236, 233);
  border-radius: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}



.presentation2 {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-image: url("img/LOGO-AIDA-DEXDE.png")  ;
    background-repeat: no-repeat;

    background-size: contain;
    
}
.pProjet {
  margin: 0px;
  padding: 0px;
  height: auto;
  background-image: url("img/Projets/projet2.png");
  background-repeat: no-repeat;

  background-size: 100% 100%;
  
}

.container {
    padding: 0;
}
.presentation3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-caption h3{
    
	
}

.btnServices {
    background-image: linear-gradient(#006A48, #2FAC66);
    color: white;
    border-radius: 0.9rem;
    font-size: 2vw;
    font-family: Righteous;
   
}
.bgColor2 {
    background-image: linear-gradient(#110011, #0e000e, #0e000e, #110011);
    box-shadow: 7px 7px 3px #441544;
    
}

.carousel-caption {
   left: 0% ;
  right: 0% ;
   margin-bottom: 50px ;
   background-color: rgba(0, 0, 0, 0.7);
 
   width: 100%;
}
.contact {
	color: white;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 1vw 1vw 1vw 1vw;
}
.lastBackground .col-sm-6 form {
		background-color: rgb(253, 55, 0);
		padding: 2vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1vw 1vw 1vw 1vw;
}
.lastBackground{
	background-color: #0d0d0d;
	background-repeat : no-repeat;
	background-size: cover;
  

}
.lastBackground1{
	background-image: url("img/UROPHZ.JPG");
	background-repeat : no-repeat;
	background-size: cover;

}
.divHeader{
    background-image: url("Galerie\ ICSA/background");
	background-repeat : no-repeat;
	/*background-size: 100% 100%;*/
    width: 4032px;
    height: 3024px;
	
  
   

}
.last1{
    background-color:rgba(0, 0, 0, 0.19);
  

}


.container-fluid h5, .container-fluid h5 span {

	font-family: "Segoe UI";

}
.icontact i{

		font-size: 30px;
		
		padding: 1vw;

}
@media only screen and (max-width: 1200px) {
  .icontact i{
    
    font-size: 20px;
    
}
}
@media only screen and (max-width: 600px) {
  .mnav{
    
    padding-top: 20px;
    
}
}

.icontact h5{
	
	padding-bottom: 1.5vw;

}

.container-fluid h5 i, .container-fluid h5 span {
	color: rgb(40,40,100);
}
.localite .col-xl-6 .img-fluid {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  @media screen and (min-width: 600px) {
    p.text1{
      font-size: 1.5rem;
      font-family: 'Jura', serif;
       
    }
  }
  @media screen and (max-width: 600px) {
     .carousel-caption {
        left: 0% ;
       right: 0% ;
        
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0px ;
        width: 100%;
     }
  }
  .bgColor1 .carousel{
    margin-top: 50px;
  }
  .bgColor1 .carousel-inner{
    height: 100px;
  }
  .bgColor1 .carousel-caption{
    color: #fff;
    top: 50%;
  }
  button.siteLink {
    margin-left:-5px;
    border:none;
    padding: 2vw;
    display:inline-block;
    min-width:115px;
  }
  .whiteLink {
    color: #fff;
  }
  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:60%;
    width:60%;
    position:absolute;
		opacity: 0.9;


}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
